{% load static %}
<html>
    <head>
        <title> Jull's blog </title>
        <style>
                html { background: tomato; }
            
                body {
            
                    padding-top: 3%;
                  text-align: center;
                }
            
                .fire {
                  height: 400px;
                  width: 350px;
                }
              </style>
    </head>
    <body>

        <h1>No me gusta piñera</h1>
        <img class="fire" src="{% static 'p_really_on_fire.jpeg' %}"> 
        
        
    </body>
</html>