h1 a {
    color: white;
    font-size: 36pt;
    font-family: 'Lobster', cursive;
    text-decoration: none;

}

.header {
    background-color:#C25100; 
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}